body{
	background-color:#F8F8F8!important;
}

#profile-wrapper{
	text-align: center;
}

#profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	margin-left: auto;
  	margin-right: auto;
}






.card-body img {
    max-width: 100%; /* Ensure the image width does not exceed its container */
    height: auto; /* Maintain aspect ratio */
}