{% block content %}
<div class="row">
    <div class="col-md-6 mb-4 border-info">
        <div class="card border-info h-100">
            <div class="card-body">
                <h5>Education</h5>
                <hr>
                <p><strong>ABES Engineering College, Ghaziabad, Uttar Pradesh, India</strong></p>
                <p>Bachelor of Science in Computer Science AIML (2020 – 2024)</p>
                <p><strong>Guru Harkrishan Public School, Delhi, India</strong></p>
                <p>CBSE Class XII, 89% Aggregate (2019 – 2020)</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card border-info h-100">
            <div class="card-body">
                <h5>Certifications</h5>
                <hr>
                <ul>
                    <p>I probably needs a revision about these</p>
                    <li>Microsoft Certified: Data Scientist Associate</li>
                    <li>Microsoft Certified: Azure Fundamentals</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card border-info h-100">
            <div class="card-body">
                <h5>Achievements</h5>
                <hr>
                <p>Qualified GATE-2024.</p>
                <p>More Achievements will come... (hopefully) :/</p>
            </div>
        </div>
    </div>
</div>
{%  endblock %}