{%block content%}
<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card border-info h-100">
            <div class="card-body ">
                <h5>Experience as a Developer</h5>
                <hr>
                <div class="row">
                    <!-- Project Card 1 -->
                    <div class="col-md-6 mb-4">
                        <div class="card border-info h-100">
                            <div class="card-body">
                                <h5>Academic Patent Database</h5>
                                <hr>
                                <p><strong>Technologies Used:</strong> Django, HTML, CSS</p>
                                <ul>
                                    <li>Developed a web app that lets users look up patent info from a server-side database.</li>
                                    <li>Centralized scattered patent data from various college sites.</li>
                                    <li>Well for now I dont know where to go with this.</li>
                                </ul>
                                <a href="https://github.com/v-rana/django_web_app" target="_blank" class="btn btn-primary" style="margin-top: 20px;">View Code</a>
                                <a href="https://patentdatabase.onrender.com/" target="_blank" class="btn btn-primary" style="margin-top: 20px;">View The incomplete site</a>
                           
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2 -->
                    <div class="col-md-6 mb-4">
                        <div class="card border-info h-100">
                            <div class="card-body">
                                <h5>Real-time Human Exercise Detection System</h5>
                                <hr>
                                <p><strong>Technologies Used:</strong> Python, Mediapipe, OpenCV</p>
                                <ul>
                                    <li>Created a real-time video analysis system that counts exercise repetitions with 90% accuracy using the Mediapipe posture module.</li>
                                    <li>Utilized computer vision techniques and body landmark tracking for precise exercise movement recognition.</li>
                                </ul>
                                <a href="https://github.com/v-rana/Optimized-movements" target="_blank" class="btn btn-primary">View Code</a>
                            </div>
                        </div>
                    </div>
                  
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}
