{% load static%}
<div class="row">
    <div class="col-md-12 mb-4 border-info">
        <div class="card border-info h-100">
            <div class="card-body">
                <h5>Other profiles</h5>
                <hr>
                <div class="row">
                    <!-- Project Card 1 -->
                    <div class="col-md-6 mb-4">
                        <div class="card h-100">
                            <div class="card-body"> 
                                <a href="https://leetcode.com/u/Vrana00/">
                                <img src="{% static 'images/leetcode_stats.jpg' %}" alt="leetcode stat card">
                                </a> 
                            </div>
                        </div>
                    </div>
                    <!-- Project Card 2 -->
                    <div class="col-md-6 mb-4">
                        <div class="card   h-100">
                            <div class="card-body">
                                <section class="text-center mb-5">
                                    <a href="https://github.com/v-rana" class="btn  btn-floating m-1 border-dark " >
                                    
                                        <i class="bi bi-github" style="font-size: 5rem ;"></i>
                                    </a>
                                <a href="https://www.linkedin.com/in/varun-rana00/" class="btn  btn-floating m-1 border-dark " style="margin-top: 5px;">
                                
                                    <i class="bi bi-linkedin" style="font-size: 5rem;"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- card-2 end -->
                </div>
            </div>
        </div>
    </div>
</div>


 
