{% load static %}

<div class="row">
    <div class="col-md-3 mb-4">
        <div class="card border-info h-100">
            <div class="card-body  text-center">
                <img id="profile-pic" class="img-fluid rounded-circle mb-3" src="{% static 'images/profile.jpg' %}" alt="Profile Picture">
                <hr>
                <h4>Hi, I'm Varun Rana!</h4>
                <p>I love coding and trying out new things.</p>
            </div>
        </div>
    </div>

    <div class="col-md-9 mb-4">
        <div class="card border-info h-94">
            <div class="card-body">
                <h4>First Job as a Developer</h4>
                <hr>
                <p>As a Backend Intern, I:</p>
                <ul>
                    <li>Developed a Chrome extension with OpenAI API to highlight crucial info in Google Patents. Made document review a breeze for professionals.</li>
                    <li>Created an Express.js backend to optimize the bold-highlighting feature.</li>
                    <li>Innovated in document analysis, providing a tool for quick comprehension of complex patent documents.</li>
                </ul>
            </div>
        </div>
    </div>
</div>
